
.mat-column-select {
    padding-left: 24px !important;
    width: 48px;
}
.mat-column-index {
    width: 48px;
}
.mat-column-status {
    text-align: end;
}

.btn__icon {
    height: 14px;
    width: 14px;
    margin-right: 10px;
}
