.mat-column-select {
    width: 48px;
}
.input__icon {
    cursor: pointer;
    width: 17.49px;
    height: 17.49px;
}
.checkbox__info {
    margin-left: 8px;
}
.ptNO-input__label {
  .form__label__required {
    display: inline-block;
    height: 48px;
    line-height: 48px;
  }
}
