<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="accordion__header" fxLayout="row wrap" fxLayoutAlign="stretch center" fxLayoutGap="8px">
          <div fxFlex="0 0 200px" class="accordion__title">
            <span></span>
            {{ 'general.search' | translate }}
          </div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="searchForm" fxLayout="column" fxLayoutGap="16px" (ngSubmit)="search()">
      <div class="form__container" fxLayout="row wrap" fxLayoutGap="16px">
        <div class="form__column" fxFlex="0 0 246px" fxLayout="column">
          <label class="form__label">{{'History.clinicDate' | translate}}</label>
          <mat-form-field appearance="outline">
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate formControlName="clinicDateStart">
              <input matEndDate formControlName="clinicDateEnd">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="form__column" fxFlex="0 0 auto" fxLayout="column">
          <label class="form__label">{{'History.clinicApn' | translate}}</label>
          <mat-form-field appearance="outline">
            <mat-select formControlName="clinicApn">
              <mat-option value="0">不拘</mat-option>
              <mat-option value="1">早班</mat-option>
              <mat-option value="2">中班</mat-option>
              <mat-option value="3">午班</mat-option>
              <mat-option value="4">晚班</mat-option>
              <mat-option value="5">夜班</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form__column" fxFlex="0 0 350px" fxLayout="column">
          <div class="mat-form-field__block">
            <mat-form-field class="mat-form-field" appearance="outline">
              <label class="mat-form-field__lable--top">{{'User.areaDept' | translate}}</label>
              <input type="text"
                     placeholder="選擇院區與科別"
                     aria-label="area dept"
                     matInput
                     formControlName="areaDept"
                     [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredAreaDeptOptions | async" [value]="option.id">
                  {{option.text}}
                </mat-option>
              </mat-autocomplete>
              <button type="button" mat-button *ngIf="this.searchForm.controls['areaDept'].value" matSuffix mat-icon-button aria-label="Clear" (click)="this.searchForm.controls['areaDept'].setValue('')">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>

        <div class="form__column" fxFlex="0 0 auto" fxLayout="column">
          <div class="mat-form-field__block">
            <mat-form-field class="mat-form-field" appearance="outline">
              <label class="mat-form-field__lable--top">診別</label>
              <mat-select formControlName="divNo">
                <mat-option [value]="-1">不拘</mat-option>
                <mat-option *ngFor="let option of divNoList" [value]="option.id">{{ option.text }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="form__column" fxFlex="0 0 195px" fxLayout="column">
          <label class="form__label">{{'History.ptNO' | translate}}</label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="ptNO" />
          </mat-form-field>
        </div>
        <div class="form__column" fxFlex="0 0 195px" fxLayout="column">
          <label class="form__label">{{'general.pid' | translate}}</label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="ptIDNO">
          </mat-form-field>
        </div>
        <div class="form__column" fxFlex="0 0 195px" fxLayout="column">
          <div class="mat-form-field__block">
            <mat-form-field class="mat-form-field" appearance="outline">
              <label class="mat-form-field__lable--top">同意書名稱</label>
              <input matInput type="text" formControlName="templateName" placeholder="同意書模糊搜尋">
            </mat-form-field>
          </div>
        </div>

        <div class="form__column" fxFlex="0 0 150px" fxLayout="column">
          <label class="form__label">{{'general.status' | translate}}</label>
          <mat-form-field appearance="outline">
            <mat-select formControlName="status">
              <mat-option *ngFor="let signRole of (signRoles$ | async)" [value]="signRole.signRoleName">
                {{'1zSIGN.waitSign' | translate: {signRole: signRole.signRoleName} }}
              </mat-option>
              <mat-option [value]="'N_3'">{{'1zSIGN.signStatus.3' | translate}}</mat-option>
              <mat-option [value]="1">{{'1zSIGN.status.1' | translate}}</mat-option>
              <mat-option [value]="3">{{'1zSIGN.status.3' | translate}}</mat-option>
              <mat-option [value]="-1">{{'1zSIGN.status.-1' | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!--<div class="form__column" fxFlex="0 0 310px">
          <label class="form__label">標籤</label>
          <br />
          <span *ngFor="let item of tagList ">
            <mat-checkbox style="margin:10px 2px" [(ngModel)]="item.checked">{{item.tagName}}</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </div>
        <div class="form__column" fxFlex="0 0 195px" fxLayout="column">
          <label class="form__label">同意書模糊查詢</label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="keyword" />
          </mat-form-field>
        </div>-->
        <div class="form__column" fxFlex="0 0 64px" fxLayout="column" fxLayoutAlign="center">
          <button mat-stroked-button type="submit" class="form__btn" color="primary"> {{'general.search' | translate}} </button>
        </div>
        <div class="form__column text--warn" fxFlexAlign="center">
          {{errorMessage}}
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
