<div class="create-ws-error" mat-dialog-content fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
  <img fxFlex="1 1 auto" src="assets/images/create-ws-error-ic.png" />
  <h1 class="create-ws-error__title">{{errorMsg.title}}</h1>
  <ul class="create-ws-error__msglist" fxFlex="0 0 auto">
    <li class="msglist__item" *ngFor="let msg of errorMsg.errorMsgs">{{msg}}</li>
  </ul>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="center">
  <button mat-button (click)="close()">
    {{'general.close' | translate}}
  </button>
</div>
